@import '@styles/_mixins.scss';

.reply {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: .75rem 0;
    
    img {
        border-radius: 50%;
    }

    button {
        @include button-styles;
    }

    form {
        display: flex;
        align-items: center;
        gap: .75rem;
    }
}