@if (group$ | async; as group) {
<section class="group-wrapper">
  <div class="group-and-creator">
    <div class="banner">
      <img
        [ngSrc]="group.picture"
        [alt]="group.name"
        width="250"
        height="250"
      />
      <h1>{{ group.name }}</h1>
      <p>{{ membersCount }} members</p>
      <div class="button-wrapper">
        @if (currentuser$ |async; as user) { @if (user.id === group.creator.id)
        {
        <p>This is your group</p>
        } @else { @if (!isMember) {
        <button class="join" (click)="joinGroup()">Join</button>
        } @else {
        <button class="leave" (click)="leaveGroup()">Leave</button>
        }} }
      </div>
    </div>
    <div class="creator">
      <h1>Creator</h1>
      <div class="creator-info">
        <img
          [ngSrc]="group.creator.profilePicture"
          [alt]="group.creator.userName"
          width="50"
          height="50"
        />
        <div>
          <h2>
            <a [routerLink]="['/user', group.creator.userName]">{{
              group.creator.userName
            }}</a>
          </h2>
          <p>{{ group.creator.lastLogin | dateAgo }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="posts">
    @if (items$ | async; as posts) {
    <app-new-post [groupId]="groupId" />
    @for (post of posts.data; track post.id) {
    <app-post-showcase [post]="post" />
    } @if (page >= posts.count) {
    <div class="end">
      <p>Seems like you've reached the end.</p>
    </div>
    }}
  </div>
  <div class="users">
    <h1>Members</h1>
    <div class="user-wrapper">
      @for (user of group.users; track user.id) {
      <div class="user">
        <img
          [ngSrc]="user.profilePicture"
          [alt]="user.userName"
          width="50"
          height="50"
        />
        <div>
          <h2>
            <a [routerLink]="['/user', user.userName]">{{ user.userName }}</a>
          </h2>
          <p class="date">{{ user.lastLogin | dateAgo }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</section>
}
<div #loadMore></div>
