@if((user$ | async); as user) {
<section class="reply">
  <img
    ngSrc="{{ user.profilePicture || null }}"
    alt="{{ user.userName }}"
    width="45"
    height="45"
  />
  <form #replyForm="ngForm" (ngSubmit)="reply(replyForm)">
    <app-input
      [(ngModel)]="content"
      (modelChange)="content = $event"
      labelText="Write a reply.."
      name="content"
      sizeModifier="0.5rem"
      fontSize="16px"
    />
    <button type="submit">Reply</button>
    <!-- <button type="submit" [disabled]="!replyForm.valid">Reply</button> -->
  </form>
</section>
}
