<section class="newpost-wrapper">
  <div class="newpost">
    <div>
      <!-- Todo: `ngSrc` has an invalid value (``). To fix this, change the value to a non-empty string -->
      <img
        ngSrc="{{ (currentUser$ | async)?.profile_Picture || null }}"
        alt="{{ (currentUser$ | async)?.username }}"
        width="75"
        height="75"
      />
    </div>
    <form #postForm="ngForm" (ngSubmit)="createNewPost(postForm)">
      <app-input
        [(ngModel)]="content"
        (modelChange)="content = $event"
        labelText="Create new post"
        name="content"
      />
      <ng-icon name="heroPhoto" />
      <button type="submit">Post</button>
    </form>
  </div>
</section>
