<section class="newpost-wrapper">
  <div class="newpost">
    <div class="newpost-form">
      <!-- Todo: `ngSrc` has an invalid value (``). To fix this, change the value to a non-empty string -->
      <img
        ngSrc="{{ currentUser.profile_Picture || null }}"
        alt="{{ currentUser.username }}"
        width="75"
        height="75"
      />
      <form #postForm="ngForm" (ngSubmit)="createNewPost(postForm)">
        <app-input
          [(ngModel)]="content"
          (modelChange)="content = $event"
          labelText="Create new post"
          name="content"
        />
        <input
          #imagesInput
          type="file"
          name="files"
          multiple
          (change)="setImages($event)"
          accept="image/*"
        />
        <ng-icon
          name="heroPhoto"
          class="image-picker"
          (click)="triggerImagesInput()"
        />
        <button type="submit">Create post</button>
      </form>
    </div>
    @if (images.length >= 0) {
    <div class="image-preview">
      @for (image of images; track trackByFn) {
      <div>
        <img
          src="{{ getImgUrl(image) }}"
          alt="{{ currentUser.username }}"
          width="75"
          height="75"
        />
        <ng-icon
          class="remove-image"
          name="ionRemoveCircle"
          (click)="removeImage(image)"
        />
      </div>
      }
    </div>
    }
  </div>
</section>
