<nav>
  <div class="nav-links">
    <h1>Readaddicts</h1>
    @for(item of items; track item.name) {
    <a href="{{ item.path }}">{{ item.name }}</a>
    }
  </div>
  <div class="user-wrapper">
    <!-- Todo: when logging in, profile picture wont show automatically we have to reload the page -->
    @if (currentUser.profile_Picture !== undefined) {
    <img
      ngSrc="{{ currentUser.profile_Picture }}"
      alt="{{ currentUser.username }}"
      width="50"
      height="50"
      (click)="toggle = !toggle"
    />
    } @if (toggle && currentUser.user_Id !== undefined) {
    <div class="user-menu">
      <div class="user-menu-wrapper">
        <img
          ngSrc="{{ currentUser.profile_Picture }}"
          alt="{{ currentUser.username }}"
          width="50"
          height="50"
        />
        <p>
          <a [routerLink]="['/user', currentUser.username]">{{
            currentUser.username
          }}</a>
        </p>
      </div>
      <div class="item">
        <ng-icon name="heroChatBubbleLeftRight" />
        <p>Messages</p>
      </div>
      <div (click)="userLogOut()" class="log-out">
        <ng-icon class="log-out-btn" name="ionLogOutOutline" />
        <p>Logout</p>
      </div>
    </div>
    }
  </div>
</nav>
