<nav>
  <div class="nav-links">
    <h1>Readaddicts</h1>
    @for(item of items; track item.name) {
    <a href="{{ item.path }}">{{ item.name }}</a>
    }
  </div>
  <div class="user-wrapper">
    @if((user$ | async); as currentUser) {
    <!-- Todo: when logging in, profile picture wont show automatically we have to reload the page -->
    @if (currentUser.profilePicture) {
    <img
      ngSrc="{{ currentUser.profilePicture }}"
      alt="{{ currentUser.userName }}"
      width="50"
      height="50"
      (click)="toggle = !toggle"
    />
    } @if (toggle && currentUser.id !== undefined) {
    <div class="user-menu">
      <div class="user-menu-wrapper">
        <img
          ngSrc="{{ currentUser.profilePicture }}"
          alt="{{ currentUser.userName }}"
          width="50"
          height="50"
        />
        <p>
          <a [routerLink]="['/user', currentUser.userName]">{{
            currentUser.userName
          }}</a>
        </p>
      </div>
      <div class="item">
        <ng-icon name="heroChatBubbleLeftRight" />
        <p>Messages</p>
      </div>
      <div (click)="userLogOut()" class="log-out">
        <ng-icon class="log-out-btn" name="ionLogOutOutline" />
        <p>Logout</p>
      </div>
    </div>
    } }
  </div>
</nav>
