@import '@styles/_mixins.scss';

header {
    display: flex;
    padding: 2rem;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 0;

    h1 {
        margin: 0;
        padding: 0;
    }

    a {
        @include button-styles;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    padding-bottom: 0;
}

.entity {
    display: flex;
    align-items: center;
    min-width: 750px;
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);

    img {
        border-radius: 50%;
    }

    h1 {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 32px;
    }

    .date {
        text-transform: lowercase;
    }
}

.end {    
    p {
        padding: .75rem;
        text-align: center;
    }
}