@if (items$ | async; as users) {
<section class="wrapper">
  @for (user of users.data; track user.id) {
  <div class="entity">
    <img
      [ngSrc]="user.profilePicture"
      [alt]="user.userName"
      width="150"
      height="150"
      priority="true"
    />
    <h1>
      <a [routerLink]="['/user', user.userName]">
        {{ user.userName }}
      </a>
    </h1>
    @if (user.tierName !== null) {
    <p>{{ user.tierName }} reader</p>
    &middot; }
    <p>
      Last seen <span class="date">{{ user.lastLogin | dateAgo }}</span>
    </p>
  </div>
  }
</section>
<div #loadMore class="end">
  @if (page >= users.count) {
  <p>Seems like you've reached the end.</p>
  }
</div>
}
