<aside class="chat-wrapper">
  @if (toggle) {
  <section class="chat" [@slideInOut]="'slideInOut'">
    <div class="chat-header">
      <div class="user-wrapper">
        <img
          ngSrc="{{ selectedChat?.profile_Picture }}"
          alt="{{ selectedChat?.username }}"
          width="60"
          height="60"
        />
        <h1>{{ "@" }}{{ selectedChat?.username }}</h1>
      </div>
      <ng-icon class="vertical-ellipsis" name="ionEllipsisVerticalSharp" />
    </div>
    <div class="messages-wrapper">
      <div class="chat-users">
        @for (user of (recentMessageSenders$ | async); track user?.user_Id) {
        <img
          ngSrc="{{ user?.profile_Picture }}"
          alt="{{ user?.username }}"
          width="60"
          height="60"
        />
        }
        <ng-icon class='add-user' name="ionAddCircleSharp" />
      </div>
      <div class="messages">
        <p>Messages!</p>
        <div class="write-msg">
          @if((currentUser$ | async); as user) {
          <img
            ngSrc="{{ user.profile_Picture }}"
            alt="{{ user.username }}"
            width="50"
            height="50"
          />
          }
          <div class="textarea-container">
            <textarea
              [(ngModel)]="message"
              #textarea
              (input)="textareaChange()"
              maxlength="255"
              placeholder='Write a message...'
            ></textarea>
            @if (message.length > 0) {
            <ng-icon class="send-icon-blue" name="ionSend" />
            } @else {
            <ng-icon class="send-icon" name="ionSendOutline" />
            }
          </div>
        </div>
      </div>
    </div>
  </section>
  }
  <div class="bubble" (click)="toggleChat()">
    @if (toggle) {
    <ng-icon [style]="{ 'font-size': '1.25rem' }" name="ionCloseCircleSharp" />
    <p>Close chat</p>
    } @else {
    <ng-icon [style]="{ 'font-size': '1.25rem' }" name="ionChatbubble" />
    <p>Open chat</p>
    }
  </div>
</aside>
