@if (!usernameFound) {
<section class="login">
  <h1>Welcome to Readaddicts.</h1>
  <h2>Connect with readers, share books, ignite conversations.</h2>
  <p>Dont have an account? Register.</p>
  <app-input
    (modelChange)="getUsernameText($event)"
    labelBackgroundColor="whitesmoke"
    [showCharacterCount]="false"
    labelText="Username"
    [maxLength]="16"
  />
  <button
    [style.color]="username.length > 0 ? 'white' : null"
    [style.background-color]="username.length > 0 ? '#03A9F4' : null"
    (click)="getUser()"
  >
    Next
  </button>
</section>
} @else if (usernameFound && user !== {}) {
<section class="login">
  <div class="user-info">
    <img
      ngSrc="{{ user.profile_Picture }}"
      alt="{{ user.username }}"
      width="200"
      height="200"
    />
    <p>
      Welcome back, <span>{{ user.username }}</span
      >. Please enter your password
    </p>
    <app-input
      (modelChange)="getPasswordText($event)"
      [showCharacterCount]="false"
      labelText="Password"
      type="password"
    />
    <button
      [style.color]="password.length > 0 ? 'white' : null"
      [style.background-color]="password.length > 0 ? '#03A9F4' : null"
      (click)="loginUser()"
    >
      Login
    </button>
  </div>
</section>
}
