@if (!usernameFound) {
<section class="login">
  <h1>Welcome to Readaddicts.</h1>
  <h2>Connect with readers, share books, ignite conversations.</h2>
  <p>Dont have an account? Register.</p>
  <app-input
    (setTextEvent)="getUsernameText($event)"
    labelBackgroundColor="whitesmoke"
    [showCharacterCount]="false"
    labelText="Username"
  />
  <button
    [style.color]="username.length > 0 ? 'white' : null"
    [style.background-color]="username.length > 0 ? '#03A9F4' : null"
  >
    Login
  </button>
</section>
}
