@import '@styles/_mixins.scss';

.post-and-comments-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.comments-section-wrapper router-outlet {
    display: contents;
}

.comments-section-wrapper {
    display: flex;
    flex-direction: column;
}

.post {
    @include any-wrapper;
    flex-direction: column;
    align-items: flex-start;

    header {
        @include post-header;
    }

    article {
        display: flex;
        flex-direction: column;
    }
}

.image-wrapper {
    @include post-images-wrapper;

    img {
        cursor: pointer;
    }
}

.headers-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

.pencil {
    align-self: center;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.selected-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}