<section class="post-and-comments-wrapper">
  @if (post$ | async; as post) {
  <article class="post">
    <div class="headers-wrapper">
      <header>
        <img
          ngSrc="{{ post.creator.profilePicture }}"
          alt="{{ post.creator.userName }}"
          width="50"
          height="50"
        />
        <h1>
          <a [routerLink]="['/user', post.creator.userName]">{{
            post.creator.userName
          }}</a>
        </h1>
        <h2>{{ "@" }}{{ post.creator.userName }}</h2>
        <p>{{ post.created || "" | dateAgo }}</p>
      </header>
      @if (post.group.id !== null) {
      <header>
        <img
          [ngSrc]="post.group.picture"
          [alt]="post.group.name"
          width="75"
          height="75"
        />
        <h1 style="font-weight: 600">
          <a [routerLink]="['/group', post.group.id]">{{ post.group.name }}</a>
        </h1>
      </header>
      }
    </div>
    <p>{{ post.content }}</p>
    @if (post.images.length > 0) {
    <div class="image-wrapper">
      @for (image of post.images; track image.id) {
      <img
        [ngSrc]="image.url"
        [alt]="image.id"
        width="100"
        height="100"
        priority="true"
        (click)="selectImage(image)"
      />
      }
    </div>
    }
  </article>
  <section class="comments-section-wrapper">
    <app-new-comment />
    @if (showComments && post.commentCount > 0) {
    <app-comments [postId]="post.id" />
    }
    <router-outlet></router-outlet>
  </section>
  @if (selectedImage.id !== '') {
  <div class="selected-image" [@fadeInOut]="'fadeInOut'">
    <app-image
      [currentImage]="selectedImage"
      [imageCollection]="post.images"
      (close)="closeImageModal()"
    />
  </div>
  } }
</section>
