<aside class="chat-wrapper">
  @if (toggle) {
  <div [style]="{ position: 'relative' }" [@slideInOut]="'slideInOut'">
    <app-chat [anyUserId]="user" />
  </div>
  }
  <div class="bubble" (click)="toggleChat()">
    @if ((notificationCount$ | async); as count) {
    <div class="notification-dot">
      {{ count > 99 ? "+99" : count }}
    </div>
    }
    <ng-icon
      [style]="{ 'font-size': '1.25rem' }"
      [name]="toggle ? 'ionCloseCircleSharp' : 'ionChatbubble'"
    />
    <p>{{ toggle ? "Close chat" : "Open chat" }}</p>
  </div>
</aside>
