<div class="input-group">
  <input
    [(ngModel)]="inputValue"
    required
    [type]="type"
    #postForm
    (keypress)="updateCharacterInfo(postForm.value)"
    (input)="updateCharacterInfo(postForm.value)"
    [maxLength]="maxLength"
    [style.background-color]="inputBgColor"
    [style.padding]="sizeModifier"
  />
  <label class="placeholder-label" [style.top]="sizeModifier">{{
    labelText
  }}</label>
  @if (characterCount > 0 && showCharacterCount) {
  <label class="char-label">{{ characterCount }}</label>
  }
</div>
