<div class="input-group">
  <input
    [(ngModel)]="inputValue"
    required
    [type]="type"
    #postForm
    (keypress)="updateCharacterInfo(postForm.value)"
    (input)="updateCharacterInfo(postForm.value)"
    [maxLength]="maxLength"
    [style.background-color]="inputBgColor"
    [style.padding]="sizeModifier"
    [style.font-size]="fontSize"
  />
  <label
    class="placeholder-label"
    [style.top]="sizeModifier"
    [style.font-size]="fontSize"
    >{{ labelText }}</label
  >
  @if (characterCount > 0 && showCharacterCount) {
  <label
    class="char-label"
    [style.top]="sizeModifier"
    [style.font-size]="fontSize"
    >{{ characterCount }}</label
  >
  }
</div>
