.posts-wrapper {
    margin: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.no-posts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 5rem;
}

.post {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 25px;
    padding: 2rem;
    width: 100%;
    margin-bottom: 2rem;

    p {
        margin: 0;
    }

    img {
        border-radius: 50%;
    }
}

.image-wrapper {
    display: flex;
    gap: 1rem;

    img {
        object-fit: cover;
    }
}

.title-wrapper {
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: .75rem;

    h1 {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 20px;
        margin: 0;
    }

    h2 {
        font-weight: 500;
        font-size: 16px;
    }
}

.button-wrapper {
    align-self: flex-end;
}

button {
    all: unset;
    background-color: whitesmoke;
    padding: .5rem 1rem;
    border-radius: 10px;
}