@if (posts.length <= 0 && badResponse === 0) {
<section class="no-posts-wrapper">
  <h1>Seems like you've reached the end</h1>
</section>
} @for (post of posts; track post.post_Id) {
<section class="posts-wrapper">
  <div class="post">
    <div class="title-wrapper">
      <img
        ngSrc="{{ post.profile_Picture }}"
        alt="{{ post.author }}"
        width="50"
        height="50"
      />
      <h1>{{ post.author }}</h1>
      <h2>{{ "@" }}{{ post.author }}</h2>
      <p>{{ post.created | dateAgo }}</p>
    </div>
    <p>{{ post.content }}</p>
    <div class="image-wrapper">
      @if (post.images.length > 0) { @for (image of post.images; track
      image.image_Id) {
      <img
        ngSrc="{{ image.image_Url }}"
        alt="{{ image.user_Id }}"
        width="100"
        height="100"
      />
      } }
    </div>
    <div class="button-wrapper">
      @if (post.comments > 0) {
      <button>{{ post.comments }} comments</button>
      } @else {
      <button>Leave a comment</button>
      }
    </div>
  </div>
</section>
} @if (badResponse !== 0) {
<section class="no-posts-wrapper">
  <h1>Something went wrong</h1>
  <p>{{ badResponse }}</p>
</section>
}
