<section class="user-wrapper">
  <div class="user">
    <img
      ngSrc="{{ user.profilePicture }}"
      alt="{{ user.userName }}"
      width="250"
      height="250"
    />
    <section class="user-info-wrapper">
      <div class="usernamame-button-wrapper">
        <header class="name-wrapper">
          <h1>{{ user.userName }}</h1>
        </header>
        @if (currentUser$ | async; as currentUser) { @if (user.id !==
        currentUser.id) {
        <button (click)="openChat(user.id)">Message</button>
        } @else {
        <button>Settings</button>
        } }
      </div>
      <div class="user-info">
        <div class="tier-last-seen-wrapper">
          <p>{{ user.tierName }}</p>
          <span>·</span>
          <p>Last seen {{ user.lastLogin ?? "" | dateAgo }}</p>
        </div>
        @if (user.biography) {
        <p>{{ user.biography }}</p>
        }
      </div>
    </section>
  </div>
  <div class="banner">
    <a routerLink="posts" routerLinkActive="active-link">Posts</a>
    <span>&middot;</span>
    <a routerLink="comments" routerLinkActive="active-link">Comments</a>
  </div>
</section>
<router-outlet></router-outlet>
