<router-outlet></router-outlet>
<header>
  <h1>Explore groups</h1>
  <a routerLink="/groups/new">Create</a>
</header>
@if (items$ | async; as groups) { @for (group of groups.data; track group.id) {
<section class="wrapper">
  <div class="entity">
    <img
      [ngSrc]="group.picture"
      [alt]="group.name"
      width="150"
      height="150"
      priority="true"
    />
    <h1>
      <a [routerLink]="['/group', group.id]">
        {{ group.name }}
      </a>
    </h1>
  </div>
</section>
}
<div #loadMore class="end">
  @if (page >= groups.count) {
  <p>Seems like you've reached the end.</p>
  }
</div>
}
