<section class="newpost-wrapper">
  <div class="newpost">
    <div class="newpost-form">
      <img
        ngSrc="{{ user.profilePicture }}"
        alt="{{ user.userName }}"
        width="55"
        height="55"
      />
      <form #commentForm="ngForm" (ngSubmit)="createNewComment(commentForm)">
        <app-input
          [(ngModel)]="content"
          (modelChange)="content = $event"
          labelText="Write a comment..."
          name="content"
        />
        <button type="submit">Post comment</button>
      </form>
    </div>
  </div>
</section>
