$blue-background: #00bfff;

@mixin post-header {
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: .75rem;

    h1 {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 20px;
        margin: 0;
    }

    h2 {
        font-weight: 500;
        font-size: 16px;
    }

    img {
        border-radius: 50%;
    }
}

@mixin post-images-wrapper {
    display: flex;
    gap: 1rem;

    img {
        object-fit: cover;
        border-radius: 50%;
    }   
}

@mixin button-styles {
    all: unset;
    background-color: $blue-background;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: .5rem 1.5rem;
    border-radius: 7px;
    cursor: pointer;
    color: white;
}

@mixin any-wrapper {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 25px;
    padding: 2rem;
    display: flex;
}