@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
    font-family: $inter;
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

a {
    all: unset;
    cursor: pointer;
}