$inter: 'Inter', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    font-family: $inter;
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}