@if (comments$ | async; as comments) { @if (comments.count > 0) {
<section class="comments-wrapper">
  @for (comment of comments.data; track comment.id) {
  <app-comment-ui [comment]="comment" />
  }
  <footer>
    @if (comments.data.length < comments.count) {
    <button (click)="loadMoreComments()">Load more comments</button>
    } @else if (comments.count > 5 && comments.data.length === comments.count) {
    <button class="disabled-button">You have reached the end</button>
    }
  </footer>
</section>
} }
