@import '../../../mixins';

.bubble {
    background-color: white;
    padding: 0 1rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    width: 110px;
    position: relative;

    p {
        user-select: none;
    }
}

.chat-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.notification-dot {
    @include notification-dot;
}

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 10px;

    img {
        border-radius: 50%;
        cursor: pointer;
    }

    .messages-wrapper {
        flex: 1;
        display: flex;
    }

    .chat-users {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: .75rem 1.25rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        position: relative;
        height: 250px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .profile-pic-wrapper {
        position: inherit;
    }
    
    .add-user {
        font-size: 73px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        color: rgba(0, 0, 0, .075);
    }

    .add-user:hover {
        color: rgba(0, 0, 0, .15);
        transition: all .5s ease-in-out;
    }

    .add-user:not(:hover) {
        transition: all .5s ease-in-out;
    }

    .messages {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .chat-area {
        height: 250px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        padding: .75rem;
        gap: .75rem;

        .load-more {
            text-align: center;
            color: rgba(0, 0, 0, .5);
            margin: 0;
            user-select: none;
        }

        p {
            margin: 0;
        }

        .no-messages {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                text-transform: capitalize;
            }
        }

        .message-and-time {
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        .message {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .1);
            padding: .5rem 1rem;
        }

        .msg-time {
            font-size: .75rem;
            color: rgba(0, 0, 0, .5);
            display: none;
        }

        .msg-time.hovered {
            display: block;
        }
    }
}