<section class="chat">
  <app-selected-user [selectedUser]="selectedUser" />
  <div class="messages-wrapper">
    <div class="chat-users">
      @for (user of recentChats; track user?.id) { @if (user !== undefined) {
      <div class="profile-pic-wrapper">
        @if (user.unreadMessages > 0) {
        <div class="notification-dot">
          {{ user.unreadMessages > 99 ? "+99" : user.unreadMessages }}
        </div>
        }
        <img
          ngSrc="{{ user?.profilePicture }}"
          alt="{{ user?.userName }}"
          width="60"
          height="60"
          [style]="{
            'box-shadow':
              selectedUser.id == user?.id
                ? '0 0 10px 1px rgba(0, 0, 0, 0.2)'
                : 'none'
          }"
          (click)="selectConversation(user)"
        />
      </div>
      } }
    </div>
    <div class="messages">
      @if((currentUser$ | async); as user) {
      <div class="chat-area" #chatArea (click)="markAsRead(selectedUser.id)">
        <p style="text-align: center" #loadMore>&middot;</p>
        @for (message of (conversation$ | async); track message.id) {
        <div
          class="message-and-time"
          [style]="{
            'align-self':
              message.senderId == user.id ? 'flex-end' : 'flex-start'
          }"
          (mouseenter)="mouseEnterMsg(message.id)"
          (mouseleave)="mouseLeaveMsg()"
        >
          @if (message.senderId == user.id) {
          <p class="msg-time" [class.hovered]="hoveredMessage === message.id">
            {{ message.timestamp | dateAgo }}
          </p>
          }
          <div class="message">
            <p>{{ message.content }}</p>
          </div>
          @if (message.senderId !== user.id) {
          <p class="msg-time" [class.hovered]="hoveredMessage === message.id">
            {{ message.timestamp | dateAgo }}
          </p>
          }
        </div>
        } @empty {
        <!-- TODO: Fix @empty causes flicker while loading conversation -->
        <div class="no-messages">
          <p>
            Your chat with
            <span>{{ selectedUser.userName }}</span>
            it's empty. Say hi!
          </p>
        </div>
        }
      </div>
      <app-new-message
        [user]="user"
        [selectedUser]="selectedUser"
        (messageEmit)="getMessageFromChildren($event)"
        (markAsReadFromChild)="markAsRead($event)"
      />
      }
    </div>
  </div>
</section>
